# Padronizando Nomes de Colunas no Pandas

In [3]:
import pandas as pd

df = pd.DataFrame({
    'ID   Usuario': [1, 2, 3, 4, 5],
    'produto/descricao': ['Samsung Galaxy S10', 'IPhone 11', 'Xiomi Redmi Note 8', 'Motorola Moto G8', 'Samsung Galaxy A10'],
    'CorDisponivel': ['Preto', 'Branco', 'Azul', 'Vermelho', 'Preto'],
    'preco': [4000, 5000, 1500, 1200, 800],
    'Quantidade em Estoque': [2, 1, 3, 2, 4],
    'DATA': ['2024-01-02', '2024-01-02', '2024-01-03', '2024-01-04', '2024-01-06']
})

df

,ID Usuario,produto/descricao,CorDisponivel,preco,Quantidade em Estoque,DATA
0,1,Samsung Galaxy S10,Preto,4000,2,2024-01-02
1,2,IPhone 11,Branco,5000,1,2024-01-02
2,3,Xiomi Redmi Note 8,Azul,1500,3,2024-01-03
3,4,Motorola Moto G8,Vermelho,1200,2,2024-01-04
4,5,Samsung Galaxy A10,Preto,800,4,2024-01-06

In [2]:
df.columns

Index(['ID Usuario', 'Produto/descricao', 'CorDisponivel', 'Preco',
       'Quantidade em Estoque', 'DATA'],
      dtype='object')

### Tipos de case:
<ul>
<li>Snake case: snake_case</li>
<li>Camel case: camelCase</li>
<li>Kebab case: kebab-case</li>
<li>Pascal case: PascalCase</li>
</ul>

In [24]:
import re


def string_to_snake_case(string):
    string_nova = re.sub('/',' ', string)
    string_nova = re.sub(' +',' ', string_nova)
    string_nova = re.sub(' ','_', string_nova)
    string_nova = re.sub('([a-z0-9])([A-Z])', r'\1_\2', string_nova)
    return string_nova.lower()

In [25]:
df.columns = [string_to_snake_case(coluna) for coluna in df.columns]

df.columns

Index(['id_usuario', 'produto_descricao', 'cor_disponivel', 'preco',
       'quantidade_em_estoque', 'data'],
      dtype='object')

In [26]:
df

,id_usuario,produto_descricao,cor_disponivel,preco,quantidade_em_estoque,data
0,1,Samsung Galaxy S10,Preto,4000,2,2024-01-02
1,2,IPhone 11,Branco,5000,1,2024-01-02
2,3,Xiomi Redmi Note 8,Azul,1500,3,2024-01-03
3,4,Motorola Moto G8,Vermelho,1200,2,2024-01-04
4,5,Samsung Galaxy A10,Preto,800,4,2024-01-06

In [27]:
df.id_usuario

0    1
1    2
2    3
3    4
4    5
Name: id_usuario, dtype: int64

In [28]:
[coluna.split("_") for coluna in df.columns]

[['id', 'usuario'],
 ['produto', 'descricao'],
 ['cor', 'disponivel'],
 ['preco'],
 ['quantidade', 'em', 'estoque'],
 ['data']]

In [30]:
def string_to_pascal_case(string):
    pascal_case = ''.join([palavra.capitalize() for palavra in string_to_snake_case(string).split('_')])
    return pascal_case

In [31]:
[string_to_pascal_case(coluna) for coluna in df.columns]

['IdUsuario',
 'ProdutoDescricao',
 'CorDisponivel',
 'Preco',
 'QuantidadeEmEstoque',
 'Data']