# Titanic - Machine Learning from Disaster

Vamos utilizar os dados disponíveis no Kaggle

- É um dataset de competição
- O resultado é avaliado através da acurácia:

"Sua pontuação é a porcentagem de passageiros que você prevê corretamente. Isso é conhecido como acurácia."

### Começando a entender a base

- Podemos utilizar o ydata-profiling (antigo Pandas Profiling) para começar a entender essa base

https://github.com/ydataai/ydata-profiling

Importando o pandas

In [1]:
import pandas as pd

Visualizando a base de treino

- Survival: Sobrevivente (0 = Não, 1 = Sim)
- Pclass: Classe (1 = 1st, 2 = 2nd, 3 = 3rd)
- Sex: Sexo do passageiro
- Age: Idade em anos
- Sibsp: número de irmãos/conjugês a bordo do Titanic	
- Parch: número de pais/filhos a bordo do Titanic
- Ticket: Número do bilhete de passagem
- Fare: Tarifa do passageiro
- Cabin: Número da cabine no Navio
- Embarked: Porto de embarque (C = Cherbourg, Q = Queenstown, S = Southampton)

In [6]:
treino = pd.read_csv('train.csv')
treino.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Importando o ProfileReport do ydata-profiling

In [2]:
from ydata_profiling import ProfileReport

Gerando a visualização

In [3]:
# para versões do numpy posteriores ao 1.24.1, rodar antes:
import numpy as np
np.bool = np.bool_

In [7]:
profile = ProfileReport(treino, title="titanic_treino")

Criando o relatório

In [108]:
profile.to_file("titanic_treino.html")

c:\Users\gabriel.marchesi\AppData\Local\Programs\Python\Python311\Lib\site-packages\ydata_profiling\profile_report.py:354: UserWarning: Try running command: 'pip install --upgrade Pillow' to avoid ValueError
  warnings.warn(

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

c:\Users\gabriel.marchesi\AppData\Local\Programs\Python\Python311\Lib\site-packages\seaborn\matrix.py:261: FutureWarning: Format strings passed to MaskedConstant are ignored, but in future may error or produce different behavior
  annotation = ("{:" + self.fmt + "}").format(val)
c:\Users\gabriel.marchesi\AppData\Local\Programs\Python\Python311\Lib\site-packages\ydata_profiling\model\missing.py:78: UserWarning: There was an attempt to generate the Heatmap missing values diagrams, but this failed.
To hide this warning, disable the calculation
(using `df.profile_report(missing_diagrams={"Heatmap": False}`)
If this is problematic for your use case, please report this as an issue:
https://github.com/ydataai/ydata-profiling/issues
(include the error message: 'could not convert string to float: '--'')
  warnings.warn(

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

- Agora vamos analisar essa base

Verificando as informações da base

In [8]:
treino.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Verificando o tipo dos dados

In [9]:
treino.dtypes.value_counts()

int64      5
object     5
float64    2
dtype: int64

E os valores nulos

In [10]:
treino.isnull().sum().sort_values(ascending=False)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Fare             0
dtype: int64

- Agora vamos visualizar a base de teste

Visualizando a base de teste

In [11]:
teste = pd.read_csv('test.csv')
teste.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

Verificando as informações da base

In [12]:
teste.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

Analisando os valores nulos

In [13]:
teste.isnull().sum().sort_values(ascending=False)

Cabin          327
Age             86
Fare             1
PassengerId      0
Pclass           0
Name             0
Sex              0
SibSp            0
Parch            0
Ticket           0
Embarked         0
dtype: int64

- Temos colunas que possuem valores vazios na base de teste que não estão vazias na base de treino (nesse caso, precisaríamos tratar essas colunas apenas na base de teste)

### Realizando os tratamentos iniciais dos dados

- Podemos começar tratando os valores vazios

Verificando novamente valores vazios para a base de treino

In [14]:
treino.isnull().sum().sort_values(ascending=False).head(5)

Cabin          687
Age            177
Embarked         2
PassengerId      0
Survived         0
dtype: int64

Retornando o shape da base

In [15]:
treino.shape

(891, 12)

Visualizando novamente a base

In [16]:
treino.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

Verificando a cardinalidade dos dados

In [17]:
treino.nunique().sort_values(ascending=False)

PassengerId    891
Name           891
Ticket         681
Fare           248
Cabin          147
Age             88
SibSp            7
Parch            7
Pclass           3
Embarked         3
Survived         2
Sex              2
dtype: int64

- Colunas com alta cardinalidade como nome, número do ticket e até mesmo o código da cabine não vão ajudar o modelo pois podem torná-lo menos generalizável. Nesse caso, vamos eliminar essas colunas

Eliminando para a base de treino

In [18]:
treino = treino.drop(['Name', 'Ticket', 'Cabin'], axis=1)

Também eliminando para a base de teste

In [19]:
teste = teste.drop(['Name', 'Ticket', 'Cabin'], axis=1)

- Agora precisamos tratar a coluna Age, que possui valores vazios tanto no treino quanto no teste
- Como essa coluna possui a idade dos passageiros, podemos utilizar a média das idades para substituir os valores vazios

Verificando a média das idades para a base de treino

In [20]:
treino.Age.mean()

29.69911764705882

In [21]:
treino['Age'].mean()

29.69911764705882

Podemos agora selecionar as colunas com idade vazia e substituir por essa média

In [122]:
treino.loc[treino.Age.isnull(), 'Age'] = treino.Age.mean()

E fazendo o mesmo para a base de teste

In [123]:
teste.loc[teste.Age.isnull(), 'Age'] = teste.Age.mean()

- Para a base de treino, ainda temos 2 valores vazios na coluna Embarked
- Podemos verificar todos os valores nessa coluna e substituir os valores vazios pela moda

Verificando os valores na coluna Embarked

In [124]:
treino.Embarked.value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

Selecionando a moda dessa coluna

In [125]:
treino.Embarked.mode()[0]

'S'

Substituindo os valores vazios

In [126]:
treino.loc[treino.Embarked.isnull(), 'Embarked'] = treino.Embarked.mode()[0]

- Para finalizar, para a base de teste ainda temos 1 valor vazio em Fare
- Podemos utilizar a mesma lógica que fizemos para a coluna Age e substituir pela moda

Verificando a média da coluna Fare para a base de teste

In [127]:
teste.loc[teste.Fare.isnull(), 'Fare'] = teste.Fare.mean()

- Verificando novamente os valores vazios

Para a base de treino

In [128]:
treino.isnull().sum().sort_values(ascending=False).head()

PassengerId    0
Survived       0
Pclass         0
Sex            0
Age            0
dtype: int64

Para a base de teste

In [129]:
teste.isnull().sum().sort_values(ascending=False).head()

PassengerId    0
Pclass         0
Sex            0
Age            0
SibSp          0
dtype: int64

- Considerando apenas as colunas que não são de texto

Verificando as colunas de texto na base de treino

In [130]:
col_treino_nr = treino.columns[treino.dtypes != 'object']
col_treino_nr

Index(['PassengerId', 'Survived', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

Selecionando apenas os valores numéricos da base de treino

In [131]:
treino_nr = treino.loc[:,col_treino_nr]

E para a base de teste

In [173]:
col_teste_nr = teste.columns[teste.dtypes != 'object']
col_teste_nr

Index(['PassengerId', 'Pclass', 'Age', 'SibSp', 'Parch', 'Fare'], dtype='object')

e os valores numéricos da base de teste

In [175]:
teste_nr = teste.loc[:,col_teste_nr]

# Podemos agora selecionar um modelo para classificar esses dados

### Para começar, vamos testar entre:

- Árvore de classificação <br>
https://scikit-learn.org/stable/modules/tree.html#classification

- Classificação dos vizinhos mais próximos <br>
https://scikit-learn.org/stable/modules/generated/sklearn.neighbors.KNeighborsClassifier.html#sklearn.neighbors.KNeighborsClassifier

- Regressão Logística <br>
https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LogisticRegression.html#sklearn.linear_model.LogisticRegression

### Antes de usar os algoritmos, precisamos separar a base de treino em treino e validação

- Vamos fazer isso utilizando o train_test_split <br>
https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html

Importando o train_test_split

In [134]:
from sklearn.model_selection import train_test_split

Separando a base de treino em X e y

In [136]:
X = treino_nr.drop(['PassengerId','Survived'],axis=1)
y = treino.Survived

Separando em treino e validação

In [137]:
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.33, random_state=42)

- Para a árvore de classificação

Fazendo a importação

In [138]:
from sklearn import tree

Criando o classificador

In [139]:
clf_ac = tree.DecisionTreeClassifier(random_state=42)

Fazendo o fit com os dados

In [152]:
clf_ac = clf_ac.fit(X_train,y_train)

Fazendo a previsão

In [155]:
y_pred_ac = clf_ac.predict(X_val)

- Para o KNeighborsClassifier

Importando

In [142]:
from sklearn.neighbors import KNeighborsClassifier

Criando o classificador

In [143]:
clf_knn = KNeighborsClassifier(n_neighbors=3)

Fazendo o fit com os dados

In [154]:
clf_knn = clf_knn.fit(X_train,y_train)

Fazendo a previsão

In [156]:
y_pred_knn = clf_knn.predict(X_val)

- E para a Regressão Logística

Importando

In [157]:
from sklearn.linear_model import LogisticRegression

Criando o classificador

In [158]:
clf_rl = LogisticRegression(random_state=42)

Fazendo o fit com os dados

In [159]:
clf_rl = clf_rl.fit(X_train, y_train)

Fazendo a previsão

In [160]:
y_pred_rl = clf_rl.predict(X_val)

E, para finalizar, vamos avaliar esses modelos

Para fazer essa análise, podemos usar:

- Acurácia (método de avaliação usado na competição): <br>
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.accuracy_score.html

- Matriz de confusão (ajuda a visualizar a distribuição dos erros): <br>
https://scikit-learn.org/stable/modules/generated/sklearn.metrics.confusion_matrix.html

### Avaliando a acurácia

Importando

In [161]:
from sklearn.metrics import accuracy_score

Para a árvore

In [162]:
accuracy_score(y_val, y_pred_ac)

0.6169491525423729

Para o knn

In [163]:
accuracy_score(y_val, y_pred_knn)

0.6542372881355932

Para a regressão logística

In [164]:
accuracy_score(y_val, y_pred_rl)

0.7254237288135593

- Avaliando a matriz de confusão

Importando

In [165]:
from sklearn.metrics import confusion_matrix

Para a árvore

In [166]:
confusion_matrix(y_val, y_pred_ac)

array([[125,  50],
       [ 63,  57]], dtype=int64)

Para o knn

In [167]:
confusion_matrix(y_val, y_pred_knn)

array([[133,  42],
       [ 60,  60]], dtype=int64)

Para a regressão logística

In [168]:
confusion_matrix(y_val, y_pred_rl)

array([[156,  19],
       [ 62,  58]], dtype=int64)

- Fazendo a previsão para os dados de teste
- Vamos usar o modelo com melhor precisão para fazer o predict na base de teste

Visualizando o X_train

In [169]:
X_train.head()

     Pclass        Age  SibSp  Parch     Fare
6         1  54.000000      0      0  51.8625
718       3  29.699118      0      0  15.5000
685       2  25.000000      1      2  41.5792
73        3  26.000000      1      0  14.4542
882       3  22.000000      0      0  10.5167

Visualizando a base de teste (apenas com valores numéricos)

In [170]:
teste_nr.head()

   PassengerId  Survived  Pclass   Age  SibSp  Parch     Fare
0            1         0       3  22.0      1      0   7.2500
1            2         1       1  38.0      1      0  71.2833
2            3         1       3  26.0      0      0   7.9250
3            4         1       1  35.0      1      0  53.1000
4            5         0       3  35.0      0      0   8.0500

Para a base de teste ser igual a base de treino, precisamos eliminar a coluna de id

In [176]:
X_teste = teste_nr.drop('PassengerId', axis=1)
X_teste.head()

   Pclass   Age  SibSp  Parch     Fare
0       3  34.5      0      0   7.8292
1       3  47.0      1      0   7.0000
2       2  62.0      0      0   9.6875
3       3  27.0      0      0   8.6625
4       3  22.0      1      1  12.2875

Utilizando a regressão logística na base de teste

In [177]:
y_pred = clf_rl.predict(X_teste)

Criando uma nova coluna com a previsão na base de teste

In [178]:
teste['Survived'] = y_pred

Selecionando apenas a coluna de Id e Survived para fazer o envio

In [180]:
base_envio = teste[['PassengerId', 'Survived']]
base_envio.head()

   PassengerId  Survived
0          892         0
1          893         0
2          894         0
3          895         0
4          896         0

Exportando para um csv

In [ ]:
base_envio.to_csv('resultados.csv')